.hero-img {
  height: 400px;
  width: auto;
  background: url(../img/hero.jpg) no-repeat center center/cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: auto;
    background: url(../img/hero-tablet.jpg) no-repeat center center/cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: auto;
    background: url(../img/hero-desktop.jpg) no-repeat center center/cover;
  }

  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}


/* -------------------------------------------------------------- */

.hero-footer {
  height: 400px;
  width: auto;
  background: url(../img/hero-pre-footer-mobile.png) no-repeat center
    center/cover;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero-footer {
  height: 400px;
    background: url(../img/hero-pre-footer-tablet.png) no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .hero-footer {
  height: 620px;
  width: auto;
    background: url(../img/hero-pre-footer-desk.png) no-repeat;
  }
}