.payment .text-content h3 {
  font-size: 28px;
}

.payment .img-content p {
  font-size: 20px;
}

.payment .payment-img {
  display: inline-flex;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
    
}

.payment .payment-img .img1 {
  width: 144px;
  height: 254px;
  background: url(../img/imagem-pay-mobile1.png);
}

.payment .payment-img .img2 {
  width: 144px;
  height: 254px;
  background: url(../img/imagem-pay-mobile2.png);
}