.hero-pkg-viagem .hero-img {
  margin-bottom: 88px;
}

.hero-pkg-viagem .hero-img {
  height: 460px;
}

.hero-pkg-viagem .hero-img .section-title {
  color: var(--text-secundary-color);
  width: 100%;
  margin: 0;
  padding: 65px 24px;
  box-sizing: border-box;
}

.hero-pkg-viagem .hero-img .section-title h2 {
  font-size: 48px;
  font-weight: var(--titles-weight);
  text-align: left;
}

.hero-pkg-viagem .hero-img .section-title hr {
  margin: 16px 0 32px;
}

.hero-pkg-viagem .hero-img .section-title p {
  font-size: 22px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.payment .content-container h3 {
  font-size: 40px;
  font-weight: var(--titles-weight);
}

@media screen and (min-width: 768px) {
  .hero-pkg-viagem .hero-img {
    height: 620px;
  }


  .hero-pkg-viagem .hero-img {
    background: url(../img/hero-pacoteviagems-tablet.png);
    background-size: cover;
  }

  .hero-pkg-viagem .hero-img .section-title  {
    padding: 209px 69px 107px 120px;

}
}

@media screen and (min-width: 1440px) {
  
  .hero-pkg-viagem .hero-img {
    background: url(../img/hero-pacoteviagems-desk.png);
    background-size: cover;
  }

  .bottom-hero-pkg-viagem .hero-img {
    height: 600px;
    background: url(../img/hero-pre-footer-pkg-desktop.png);
    background-size: cover;
  }

  .hero-pkg-viagem .hero-img .section-title p  {
    font-size: 32px;
    font-weight: var(--text-weight);
    line-height: 50px;
  }


  
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
